<div class="info">
  <div class="list">
    <article>
      <div class="avatar" [ngStyle]="{ backgroundColor: student.avatar.color }">
        <p>{{ student.avatar.initials }}</p>
      </div>
      <div class="data">
        <h3>{{ student.name }} {{ student.lastName }}</h3>
        <p>Class: {{ student.group }}</p>
        <p>#: {{ 1 }}</p>
      </div>
      <div class="controls">
        <a (click)="onPresent(1)"
          ><img src="assets/good.svg" class="select good"
        /></a>
        <a (click)="onAbsent(1)"
          ><img src="assets/bad.svg" class="select bad"
        /></a>
        <div class="btn-detail">
          <a (click)="onShowDetails(1)"> View More</a>
        </div>
      </div>
    </article>
  </div>


</div>
