/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100vh;
  padding: 0 auto;
  margin: 0;
  background-color: rgb(245, 240, 240);
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 30% auto;
}

section {
  margin: 0 auto;
  padding: 2em;
  width: 80%;
}

.btn {
  width: 150px;
  background-color: #19bf41;
  padding: 0.8rem;
  border-radius: 5px;
  text-align: center;

  a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;

  }

  img {
    float: left;
    margin: 0 0.5rem;
    width: 18px;
  }
  &:hover {
    background-color: #1edb4a;
    cursor: pointer;
  }
}





